[Unit]
Description=This service automatically synchronizes configured folders to other servers

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -i /etc/server_sync/inventory /etc/server_sync/sync.yml
